.lead_position_moved {
  margin-top: 56px;
  margin-bottom: 96px;
  width: 100%;
  padding: 0 148px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .lead_position_moved {
    margin-top: 48px;
    margin-bottom: 92px;
    padding: 0 48px;
  }
}

@media (max-width: 768px) {
  .lead_position_moved {
    margin-bottom: 88px;
    padding: 0;
  }
}

@media (max-width: 425px) {
  .lead_position_moved {
    margin-bottom: 64px;
  }
}
