.lead {
  max-height: 1005px;
}
@media (max-width: 1024px) {
  .lead {
    max-height: 962px;
  }
}

@media (max-width: 768px) {
  .lead {
    max-height: 862px;
  }
}

@media (max-width: 425px) {
  .lead {
    max-height: 480px;
  }
}

@media (max-width: 320px) {
  .lead {
    max-width: 320px;
    max-height: 406px;
  }
}
