.photo-gallery_position_moved {
  width: 100%;
  padding: 0 48px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .photo-gallery_position_moved {
    padding: 0 24px;
  }
}

@media (max-width: 320px) {
  .photo-gallery_position_moved {
    padding: 0 16px;
  }
}
