@font-face {
  font-family: inter;
  font-weight: 400;
  src: url(/fonts/Inter_Web/Inter-Regular.woff) format(woff),
    url(/fonts/Inter_Web/Inter-Regular.woff2) format(woff2);
}

@font-face {
  font-family: inter;
  font-weight: 900;
  src: url(/fonts/Inter_Web/Inter-Black.woff) format(woff),
    url(/fonts/Inter_Web/Inter-Black.woff2) format(woff2);
}

@font-face {
  font-family: inter;
  font-weight: 700;
  src: url(/fonts/Inter_Web/Inter-Bold.woff) format(woff),
    url(/fonts/Inter_Web/Inter-Bold.woff2) format(woff2);
}

.root {
  background-color: #2a2c2f;
  color: #fff;
  font-family: inter, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content__section {
  width: 100%;
  padding: 0 48px;
  box-sizing: border-box;
}

.content__section_desktop_narrow {
  max-width: calc(984px + 48px * 2);
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .content__section_laptop_wide {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .content__section {
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  .content__section_laptop_wide {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .content__section_tablet_wide {
    padding: 0;
  }
}

@media (max-width: 650px) {
  .content__section_mobile_narrow {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .content__section {
    padding: 0 16px;
  }
}
