.place__website {
  max-width: 456px;
  grid-area: url;
  margin: 0;
  align-self: self-end;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

@media (max-width: 650px) {
  .place__website {
    margin-left: 16px;
    align-self: flex-start;
  }
}
