.places_position_moved {
  margin-top: 92px;
  margin-bottom: 92px;
  width: 100%;
  padding: 0 148px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .places_position_moved {
    padding: 0 44px;
  }
}

@media (max-width: 768px) {
  .places_position_moved {
    margin-top: 88px;
    margin-bottom: 90px;
  }
}

@media (max-width: 650px) {
  .places_position_moved {
    margin-top: 64px;
    margin-bottom: 68px;
  }
}

@media (max-width: 320px) {
  .places_position_moved {
    padding: 0;
  }
}
